@font-face {
    font-family: 'Dense-Regular';
    src: url('Dense-Regular.otf');
    src: local('Dense-Regular'), url("Dense-Regular.otf");

}


h1, h2{
	font-family: 'Dense-Regular', 'Helvetica', 'Tahoma';
}

.logorow{
	height: 30%;	
	text-align: center;
}


.logorow>div{
	margin-top: 5%;
}

.logorow h2{
	color:grey;
}

.logorow h2, .logorow img{
	float:left;
}

.loginrow{
	text-align: center;	
}

.loginrow form{
	margin-top:8%;	
}

.loginrow form input{
	max-width: 50%;	
	margin: 0px auto 25px;
}

#loginbox{
	height:100%;
	border-radius: 15px;
	background-color: #ddd;
	-webkit-box-shadow: -1px -1px 23px 0px rgba(112,100,112,0.83);
-moz-box-shadow: -1px -1px 23px 0px rgba(112,100,112,0.83);
box-shadow: -1px -1px 23px 0px rgba(112,100,112,0.83);
}

.allbody{
	height:100%;
    width:100%;
	background-color:#eee;
    position:absolute

}

/* --------- PONTO ----------- */

.pontorow form{
	margin-top:5%;
	height:80%;

}

.botaoponto{
	min-width:15%;
	height:40%;

}

.pontorow{
	height: 35%;
	text-align: center;	
}

.pontorow input{
	border-radius: 15px;
	background-color: #ddd;
-webkit-box-shadow: 0px 0px 26px -5px rgba(92,86,92,1);
-moz-box-shadow: 0px 0px 26px -5px rgba(92,86,92,1);
box-shadow: 0px 0px 26px -5px rgba(92,86,92,1);

}

.timerow{
	text-align: center;
	height:15%;	
}

/*-------- HISTORICO ------------*/

.titlerow{
	margin-bottom: 6%;
	text-align: center;	
}

.tablerow{
	width:80%;
	margin: 5% auto 0px;
}

/*---------BIRTHDAY -----------*/

.birthdayrow{
	text-align: center;	
	width:100%;
}

.birthdayrow img{
	margin-top:5%;
	margin-bottom: 3%;
	width:20%;
}

.birthdayrow h1{
	margin-top:5%;	
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	color: brown;
}

/*-------- GRAPHS ----------- */

.graphs{

	width: 1200px; 
	height: 300px;
	margin:30px auto 0px;

}